.App {
  text-align: center;
}

.header {
  font-size: 1.5em;
  background-color: darkblue;
  color: white;
  /* margin-top: -25px;
  margin-bottom: -30px; */
}

#header {
  color: white;
}

.navbar {
  background-color: green;
  color: white;
  margin-top: 0px;
}
