
body {
  background-color: grey;
}

.main-container {
  background-color: white;
  margin-left: 60px;
  margin-right: 60px;
  min-height: 600px;
  padding-bottom: 25px;
}

#site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  color: white;
  margin-top:5px;
  margin-bottom: -10px;
  margin-left: 0px;
  margin-right: 0px;
}

#official-logo{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0px;
  transform: rotate(180deg);
}

#site-name{
  display: inline-block;
  font-size: 36px;
  padding-left: 5px;
}

.ui.small.menu {
  /* navbar */
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 5px;
  font-size: 12px;
  height: 20px;
}

.ui.divided.items>.item {
  /* entire item... item */
  padding: 2px;
  text-align: left;
  font-size: 10px
}

.ui.items>.item>.image {
  /* item image - margin pushes text content as well */
  margin-left: 10px;
}

.ui.items>.item .meta {
  /* item metadata */
  margin: 0px 0px 0px 25px
}

#playlist-list {
  height: 400px;
}

#playlist-list-container {
  padding: 5px;
}

#playlist-list-item {
  padding-left: 5px;
  padding-right: 5px;
}

#playlist-list-action-bar {
  padding-left: 25px;
}

.ui.celled.list>.item, .ui.celled.list>.list {
  /* find music results list */
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#my-music-header{
  padding-top: 5px;
  color: darkblue;
  padding-left: 100px;
}

#my-music-subheader{
  padding-top: 5px;
  color: darkblue;
  padding-left: 50px;
}

#my-artists-item{
  height: 180px;
}

#my-artists-list{
  text-align: left;
}

#my-music-image{
  width: 20%;
  max-height: 115px;
}

#my-artists-content{
  width: 55%;
  height: 150px;
  overflow-y: scroll;
}

#my-artists-button-container{
  width: 10%;
  padding-top: 0px;
}

#my-artists-button{
  width: 90%;
  height: 40px;
  margin-top: 2px;
  margin-right: 5px;
}

#sort-menu{
  width: 50%;
  padding-left: 80px;
  margin: 0px auto -5px auto;
}

#my-albums-image{
  width: 20%;
  max-height: 150px;
}

#my-albums-content{
  width: 55%;
  height: 150px;
  overflow-y: scroll;
}

#my-albums-button-container{
  width: 10%;
}

#my-albums-button{
  width: 90%;
  float: right;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

#track-info {
  font-size: 18px;
}

#search-header {
  margin-left: 150px;
  color: darkblue;
}

#search-songs-text {
  font-size: 18px;
}

#search-artists-text {
  font-size: 18px;
}

#search-albums-text {
  font-size: 18px;
}

#find-music-button {
  width: 80px;
}

#no-results-header {
  margin-left: 50px;
}

#new-playlist-form{
  margin-left: 40px;
}

#new-playlist-form-field{
  margin-bottom: 2px;
}

#new-playlist-name-input{
  width: 350px;
}

#new-playlist-preview-container{
  height: 250px;
  overflow-y: scroll;
  padding-left: 20px;
}

#new-playlist-my-songs-container{
  padding-left: 20px;
}

#new-playlist-header{
  margin-left: 50px;
}

#selected-playlist-container{
  max-height: 450px;
  overflow-y: scroll;
}

#create-playlist-text{
  width: 80%
}

#create-playlist-button-container{
  width: 7%;
  float: right;
  display: inline-block;
}

#published-playlists-name-header{
  margin-left: 50px;
}

#published-playlists-song-header{
  width: 100%;
}

#published-playlists-table{
  margin:auto;
  width: 95%;
}

#play-button{
  width: 120px;
}

#youtube-video-container{
  width:100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

#youtube-video-player{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#youtube-modal-name-header{
  display: inline-block;
  color: white;
}

#youtube-modal-info-header{
  display: inline-block;
  color: white;
  float: right;
}

#subheader-notice{
  margin-left: 40px;
}

#artist-top-tracks-song-row{
  padding-left: 15px;
}

#table-button{
  padding-left: 5.5px;
}

#artist-top-tracts-listeners-row{
  padding-right: 8px;
}

#my-artists-similar-artists-name{
  padding-left: 20px;
}

#find-music-search-input{
  width: 400px;
}

#find-music-filter-buttons{
  width: 400px;
}

#edit-playlist-name-input{
  width: 400px;
}
