.App {
  text-align: center;
}

.header {
  font-size: 1.5em;
  background-color: darkblue;
  color: white;
  margin-top: -25px;
  margin-bottom: -30px;
}

.navbar {
  background-color: blue;
  color: white;
  margin-top: 0px;
}
